/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/logs/
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/views/
/storage/framework/testing/
/storage/pail
/vendor
/public/uploads
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/graphify-out/
